#about {
  color: rgba(255, 255, 255, 0.856);
  font-family: Comic Sans MS;
  width: 410px;
  text-align: center;
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 25px;
  position: fixed;
  left: -307px;
  top: -2px;
  transition: 0.5s;
  z-index: 3;
  user-select: none;
}
#about.closed {
  left: 0;
}
.flex-row {
  display: flex;
  flex-direction: column;
  background-color: #0d1117;
  padding: 0 20px 35px 15px;
  border-radius: 0 25px 25px 0;
  box-shadow: 0 0 10px 2px rgba(22, 22, 22, 0.705);
  z-index: 2;
}
.about-line {
  border: 2px dashed rgba(255, 255, 255, 0.856);
  margin: 0 20px;
}
.about-title {
  color: rgba(1, 247, 83, 0.808);
}
#yt-link {
  outline: 2px dashed rgba(255, 255, 255, 0.507);
  padding: 5px 42px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.507);
  border-radius: 10px;
  position: relative;
  top: 5px;
}
#yt-link:hover {
  outline: 2px dashed rgba(255, 255, 255, 0.856);
  color: rgba(255, 255, 255, 0.856);
}
#card-tag {
  transform: rotate(90deg);
  position: relative;
  height: fit-content;
  left: -38px;
  top: 60px;
  background-color: rgba(179, 97, 3, 0.911);
  padding: 3px 25px 3px 7px;
  border-radius: 7px 30px 0 0;
  cursor: pointer;
  z-index: 1;
}
