#get-json {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  left: -60px;
  margin-top: 40px;
  padding-bottom: 100px;
  user-select: none;
}
#urls-div,
#classes-div,
#keys-div,
#types-div,
#searchTypes-div,
#valueTypes-div {
  display: flex;
  flex-direction: column;
  width: fit-content;
}
.add-btn,
.remove-btn {
  height: 20px;
  border: none;
  position: relative;
  outline: 2px dashed white;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  height: 30px;
  width: 30px;
  background-color: #21262d;
}
.add-btn {
  margin: auto 30px;
  right: -45px;
}
.remove-btn {
  margin: auto -16px;
}
.add-btn:hover,
.remove-btn:hover {
  outline: 3px dashed white;
}
.input-text {
  background-color: transparent;
  border: none;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 8px 0;
  background-color: transparent;
  outline: 2px solid white;
  color: rgba(255, 255, 255, 0.705);
  font-size: 20px;
  background-color: #21262d;
  height: 25px;
}
.url-input {
  width: 680px;
}
.url-input:focus,
.class-input-text:focus {
  outline: none;
  box-shadow: 0 0 7px 1px rgba(255, 255, 255, 0.87);
}
.class-input-text {
  width: 140px;
}
.class-input-select {
  height: 45px;
  width: 160px;
  cursor: pointer;
}
.fields-dividing-horizontal-line {
  border: none;
  outline: 2px dashed white;
  width: 30px;
  z-index: -1;
}
.url-classes-line {
  border: none;
  outline: 2px dashed white;
  height: 50px;
  z-index: -1;
  position: relative;
  left: 65px;
}
#url-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  position: relative;
}
#urls-div {
  outline: 2px dashed white;
  padding: 15px 40px 15px 40px;
  border-radius: 10px;
}
#classes-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  position: relative;
}
#cktsv-div {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  outline: 2px dashed white;
  padding: 15px 40px 15px 40px;
  border-radius: 10px;
  width: fit-content;
}
#jsonDiv {
  background-color: #0d1117;
  color: white;
  padding: 20px 30px;
  border-radius: 10px;
  width: 62%;
  /* font-weight: bold; */
  font-size: large;
  margin: 40px 0;
  margin-left: 90px;
}
#jsonData {
  user-select: text;
}
#copy-btn {
  width: 100%;
  text-align: right;
}
#global-settings-div {
  opacity: 0.6;
  outline: 2px dashed white;
  padding: 15px;
  border-radius: 10px;
  position: absolute;
  right: 0;
  top: 0;
  color: white;
  font-family: Comic Sans MS;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: large;
}
.global-setting {
  opacity: inherit;
  display: flex;
  gap: 10px;
  align-items: center;
  padding-left: 12px;
  font-size: medium;
  cursor: pointer;
}
.global-setting:hover {
  opacity: 1;
}
/* -------------GET BUTTON--------------- */
#get-btn {
  --border-radius: 15px;
  --border-width: 4px;
  appearance: none;
  position: relative;
  padding: 1em 2em;
  border: 0;
  background-color: #212121;
  font-family: "Roboto", Arial, "Segoe UI", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  z-index: 2;
  cursor: pointer;
  margin-top: 30px;
  left: 70px;
  width: fit-content;
  box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.205);
  border-radius: 15px;
}
#get-btn::after {
  --m-i: linear-gradient(#000, #000);
  --m-o: content-box, padding-box;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: var(--border-width);
  border-radius: var(--border-radius);
  background-image: conic-gradient(
    #488cfb,
    #29dbbc,
    #ddf505,
    #ff9f0e,
    #e440bb,
    #655adc,
    #488cfb
  );
  -webkit-mask-image: var(--m-i), var(--m-i);
  mask-image: var(--m-i), var(--m-i);
  -webkit-mask-origin: var(--m-o);
  mask-origin: var(--m-o);
  -webkit-mask-clip: var(--m-o);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
  filter: hue-rotate(0);
  animation: rotate-hue linear 500ms infinite;
  animation-play-state: paused;
}
#get-btn:hover::after {
  animation-play-state: running;
}
@keyframes rotate-hue {
  to {
    filter: hue-rotate(1turn);
  }
}
#get-btn,
#get-btn::after {
  box-sizing: border-box;
}
#get-btn:active {
  --border-width: 5px;
}
/* ----------------------------------------- */
